main {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mdui-theme-primary-blue .mdui-color-theme {
    color: #fff !important;
}
.mdui-container-fluid .mdui-card {
    margin-top: 20px;
    padding: 15px;
    overflow: visible;
}
.mdui-chip {
    margin-left: 5px;
}
#jump-btn-group .mdui-btn {
    width: 40px;
}
#answer-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
#answer-box .mdui-typo-title {
    font-size: 1.2em;
    display: inline;
}
#answer-box .mdui-btn-dense {
    margin-right: 5px;
    margin-top: 5px;
}
#resource-box {
    width: 150px;
    margin-top: 10px;
}
audio {
    width: 211px;
    position: relative;
    left: -30px;
    transform: scale(0.85);
}
img {
    width: 150px;
    height: auto;
    transition: 0.5s;
    z-index: 1;
}
img:hover {
    transform: scale(3);
    transform-origin: center right;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    position: relative;
    top: 0;
}
img:last-child {
    transform-origin: bottom right;
}
img:first-child {
    transform-origin: top right;
}
#answer-form img:hover {
    transform-origin: left bottom;
}
.mdui-radio[true] {
    color: #69F0AE;
}
.mdui-radio[true] .mdui-radio-icon {
    border-color: #69F0AE !important;
}
.mdui-radio[true] .mdui-radio-icon::before {
    background-color: #69F0AE !important;
}
.mdui-radio[false] {
    color: #FF5252;
}
.mdui-radio[false] .mdui-radio-icon {
    border-color: #FF5252 !important;
}
.mdui-radio[false] .mdui-radio-icon::before {
    background-color: #FF5252 !important;
}
.mdui-radio[checked] {
    color: #69F0AE;
}
.mdui-radio[checked] .mdui-radio-icon {
    border-color: #448AFF !important;
}
.mdui-radio[checked] .mdui-radio-icon::before {
    background-color: #448AFF !important;
}
.mdui-checkbox[true] {
    color: #69F0AE;
}
.mdui-checkbox[true] .mdui-checkbox-icon::after {
    background-color: #69F0AE !important;
    border-color: #69F0AE !important;
}
.mdui-checkbox[false] {
    color: #FF5252;
}
.mdui-checkbox[false] .mdui-checkbox-icon::after {
    background-color: #FF5252 !important;
    border-color: #FF5252 !important;
}
.mdui-checkbox[checked] {
    color: #69F0AE;
}
.mdui-checkbox[checked] .mdui-checkbox-icon::after {
    background-color: #448AFF !important;
    border-color: #448AFF !important;
}
.disable-click {
    pointer-events: none;
}
#analyse-box {
    margin-bottom: 30px;
}
.mdui-card .mdui-progress {
    position: absolute;
    top: 0;
    left: 0;
}
.mdui-progress .mdui-progress-determinate {
    transition-timing-function: ease;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mdui-card {
    animation: fade-in 0.5s ease;
}
@media screen and (max-width: 600px) {
    #jump-btn-group {
        margin-bottom: 20px;
    }
    #jump-btn-group .mdui-btn {
        width: 30px;
        padding-left: 7px;
    }
    img:hover {
        transform: scale(2);
    }
}
